{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Wiki Entry
{% endblock %}

{% block body %}
    <div class="main__para">
    <h2>Create A New Wiki Entry</h2>

    </div>
    
    {% if error in errors %}
    <div class="main__para">
        <h4>{{ error }}</h4>
    </div>
    {% elif error == 'Successful wiki entry created' %}
    <div class="main__para">
        <h4>Successful wiki entry created</h4>
    </div>
    {% else %}
    <form action="{% url 'encyclopedia:newpage' %}"  method="POST">
        <input type="text" name ="newtitle" placeholder="Title">
        <input type="text" name="newwiki" placeholder="type here...">
        <button class="button minilink" type="submit">submit</button>
    </form>

    {% endif %}

{% endblock %}